#element {
    color: rgb(179, 9, 156); /* This will change the text color to red */
}
/* CSS to change the color of the paragraph */
#myParagraph {
    color: black; /* Change 'blue' to the desired color */
}
#mycol {
    color:rgb(115, 255, 1); /* Change 'blue' to the desired color */
}
#mydust {
    color:rgb(93, 184, 131); /* Change 'blue' to the desired color */
}
 /* CSS for the container div */
 .container {
    background-color: #ffee00; /* Light background color */
    padding: 20px; /* Add some padding for spacing */
}
/* CSS for the container div */
.containg{
    background-color: #3113d8; /* Light background color */
    padding: 20px; /* Add some padding for spacing */
}
/* CSS for the container div */
.contain {
    background-color: #e6b1ae; /* Light background color */
    padding: 20px; /* Add some padding for spacing */
}
 /* CSS for the container div */
 .contag {
    background-color: #f80074; /* Light background color */
    padding: 20px; /* Add some padding for spacing */
}
/* CSS for the container div */
.conta{
    background-color: #ebd087; /* Light background color */
    padding: 20px; /* Add some padding for spacing */
}
/* CSS for the container div */
.con {
    background-color: #a343e2; /* Light background color */
    padding: 20px; /* Add some padding for spacing */
}