#page1,
#page2,
#page3,
#page4,
#page5 {
  height: 100vh;
  display: flex;
}
#page1 {
  background-color: #ff595e;
}
#page2 {
  background-color: #ffca3a;
}
#page3 {
  background-color: #8ac926;
}
#page4 {
  background-color: #1982c4;
}
#page5 {
  background-color: #3a86ff;
}

#page1 h1 {
  flex-shrink: 4;
  margin-top: 10px;
  padding-top: 10px;
  position: absolute;
  color: #ffca3a;
  font-family: monospace;
  font-size: 10rem;
  animation-name: main-header-animation;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes main-header-animation {
  0% {
    padding-top: 1000px;
    opacity: 0%;
  }
  100% {
    padding-top: 10px;
    opacity: 100%;
  }
}

#page2 {
  display: flex;
  flex-direction: column;
  #into_txt {
    display: flex;
    font-size: 30px;
    color: #110f0f;
    flex-wrap: wrap;
    flex-shrink: 1;
  }
  #img_in_it {
    size: 40px;
  }
}
#page3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  #ed {
    position: relative;
    left: 30%;
  }
  #action_btn {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10vh;
    width: 50vw;
    text-align: center;
    background-color: #ffca3a;
    border: none;
    border-radius: 10px;
  }
}
